/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Space+Mono:ital@0;1&display=swap');

body {
    margin: 0px;
    font-family: 'Space Mono', monospace;
}
header, section {
    padding: 20px;
    font-family: 'Modak', cursive;
}
p, li {
    line-height: 1.5em;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
#inspiration {
    background-image: url('metalorb.png');
    padding-top: 40px;
    padding-bottom: 40px;
    margin: -20px 0 0 -20px;
}

#homework {
    background-image: url('metalorb.png');
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 40px 0 auto;
}

#tutorials {
    background-image: url('metalorb.png');
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 15px 0 0 30x;
}