/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Space+Mono:ital@0;1&display=swap');

header, section {
    padding: 20px;
    font-family: 'Modak', cursive;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #F0F0F0;
    font-family: 'Space Mono', monospace;
    opacity: 0.5;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 25px;
    margin: -20px 0 0 -15px;
}

#homework {
    background-color: #f0f0f0;
    font-family: 'Space Mono', monospace;
    opacity: 0.5;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 25px;
    margin: -20px 0 0 -15px;
}

#tutorials {
    background-color: #F0F0F0;
    font-family: 'Space Mono', monospace;
    opacity: 0.5;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 30p;
    padding-left: 25px;
    margin: -20px 0 0 -15px;
}

