body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

aside a {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
}

/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
    gap: 50px;
    row-gap: 40px; 
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}



/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */
/* article {
    display: grid;
    grid-template-columns: 
    1fr 1fr 1fr;
    grid-template-rows: 
    1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat( autofit, minmax (10px, 1fr))
} */

#featured-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artist-card img {
     width: 100%;
     border-radius: 50%;
     justify-content: center;
}

.card-footer {
    font-size: 8px;
    text-align: justify left;
    overflow-x: auto;


}

.artist-card {
    /* display:inline-block;
    block-size: 20%;  */
    width: 20%;
    /* background-color: #828282; 
    max-width: 150px;
    max-height: 150px;
    margin-top: 50px;
    margin-bottom: 12px; */
    padding: 20px;
    height: 285px; 
    align-items: center;
    justify-items: center; 

}
.artist-card > div {
    background: #222; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px; 
}

button{
      display:none;
      opacity:0;
  }
  .artist-card:hover button {
	display: inline-block;
    opacity: 1;
}

  
/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */
.flex-item-left {
    flex: 50%
}
.flex-item-right {
    flex: 50%
}

@media (max-width: 800px) {
    #featured-content {
        .flex-item-right .flex-item-left {
flex: 100%;
        }
      flex-direction: column;
    }
}
@media all and (max-width: 800px) {
    aside { display: none; }
  }